body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.frame {
  max-width:60%;
  max-height:15%;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 10px 10px;
}

.error_msg {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

table.dataframe {
  width:70%; 
  margin-left:10%; 
  margin-right:15%;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

/* @group Data Tables */

.ws_data_table {
  border-collapse: collapse;
  border-color: #537DB9;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 15px;
}

.ws_data_table caption {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}

.ws_data_table th {
  text-transform: inherit;
  white-space: nowrap;
  background-color: #3366CC;
  color: #FFFFFF;
  padding: 2px 10px 2px 10px;
  border-right: #FFFFFF;
  border-width: 1px;
  border-style: none dotted none none;
}

.ws_data_table td {
  padding: 5px 10px 5px 10px;
  border-right: #cccccc;
  border-width: 1px;
  border-style: none dotted none none;
  vertical-align: top;
}

.ws_data_table tr:nth-child(odd) {
  background-color: #FFFFFF;
}

.ws_data_table tr:nth-child(even) {
  background-color: #E6E6E6;
}

/* @end */

/* @group tablesorter */

.header {
  cursor: pointer;
}

.headerSortDown:after {
  content: " ▾";
  font-family: Arial, sans-serif;
}

.headerSortUp:after {
  content: " ▴";
  font-family: Arial, sans-serif;
}

/* @end */

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}